# Python
__pycache__/
*.pyc
.venv/

# 项目输出（大文件、临时产物）
projects/*/outputs/
examples/*/outputs/

# 芯片资料（可能很大，视情况决定是否提交）
# platforms/*/datasheets/*.pdf
# platforms/*/svd/
# platforms/*/sdk/

# IDE
.vscode/
.idea/

# 操作系统
Thumbs.db
.DS_Store

# 芯片资料（大文件不提交，小文件保留）
platforms/**/datasheets/STM32F10x_Reference_Manual.pdf
platforms/**/datasheets/GD32F20x 用户手册.pdf
